.about-container {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 90px; /* Add margin to create space between containers */
  }
  
  .image-container {
    flex: 0 0 auto;
  }
  
  .content {
    margin-left: 50px;
  }
  
  .a1 {
    width: 400px;
    height: auto;
  }
  
  h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  
  p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: #666;
    line-height: 1.6;
  }
  